= form_for @house do |f|
  - if @house.errors.any?
    #error_explanation
      %h2= "#{pluralize(@house.errors.count, "error")} prohibited this house from being saved:"
      %ul
        - @house.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :website
    = f.text_field :website
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :occupancy
    = f.number_field :occupancy
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
