%h1 Requested songs
%p= link_to 'Request a song', new_song_path, class: "btn btn-primary"
%table.table.table-striped
  %thead.thead
    %tr
      %th.col-xs-6= sortable "title"
      %th.col-xs-6= sortable "artist"
  %tbody
    - @songs.each do |song|
      %tr
        %td= song.title
        %td= song.artist

