%p#notice= notice

%p
  %b User:
  = @reservation.user_id
%p
  %b Party size:
  = @reservation.party_size
%p
  %b House:
  = @reservation.house_id

= link_to 'Edit', edit_reservation_path(@reservation)
\|
= link_to 'Back', reservations_path
