<div class="center-div">
    <h2>Login</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "center-div" }) do |f| %>
      <div class="field">
        <%= f.label :email, "Username" %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Submit", class: "btn btn-primary col-md-offset-3" %>
      </div>
    <% end %>
</div>
